body {
    font-family: 'Ubuntu', sans-serif;
    background-color:#FFDC00;
}
h5 {
    font-weight:bold;
    
}
button {
	background:#111111; 
	border:none;
	margin-right:3px;
	margin-top:10px;
	border-radius:3px;
	color:#3D9970;
	padding: 12px 20px;
	cursor: pointer;
	text-transform: uppercase;
	transition: color 0.4s linear;
	position: relative;
}
button:hover{
	color: #ffffff;
}
#addSport {
	background-color:red;
	color:white;
	border:none;
	border-radius:3px;
	color:white;
	width:60px;
	text-transform: capitalize;
}
